body,html{
    background: radial-gradient(circle, rgba(126,7,85,1) 3%, rgba(0,0,0,1) 42%, rgba(0,0,0,1) 100%);
    min-height: 100vh;
}
.navbar{
    background-color: black;
}

a{
    color: #F207A0;
}

.bk{
    position: absolute;
    z-index: 0;
    top: 0%;
    width: 100%;
    height: 100vh;
}

/*--Main Page*/
.heroVideo{
    width: 100%;
}

.is-custom{
    overflow: hidden;
    max-height: 80vh;
}

.previewOverlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}

.afterViewOverlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    display: none;
}

#previewImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainDetails{
    position: relative;
    justify-content: center;
    height: 100%;
}

.buttonMainHero{
    width: auto;
}

.previewContainer{
    position: relative;
    margin-bottom: 50px;
}

.preview-container{
    width: 230px;
    height: 129px;
    margin-right: 4px;
    transition: 0.3s;
}
.preview-container:hover {
    transform-origin: bottom ;
    transform: scale(1.6);
    z-index: 10;
}

.preview-container:hover .actions {
    display: block;
}

.preview-container img{
    width: 100%;
    height: 100%;
}

.scroll{
  overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scroll::-webkit-scrollbar {
    display: none;
}

.actions{
    background: radial-gradient(circle, rgba(9,13,92,1) 0%, rgba(0,0,0,1) 89%);
    display: none;
}
.is-purple{
    background-color: #F207A0 !important;
    border-color: transparent;
    color: #fff;
}

.intro-login{
    width: 100%;
    position: absolute;
    top: 65%;
    left: 15%;
    z-index: 99;
}

#preloader{
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(126,7,85,1) 3%, rgba(0,0,0,1) 42%, rgba(0,0,0,1) 100%);
    position: fixed;
    top: 0;
    z-index: 1000;
}

/*--Page Show--*/
.mainDetailsShow{
    position: relative;
    justify-content: center;
    height: 100%;
}

.showVideo{
    width: 100%;
    max-height: 100vh;
}
.buttonsShow{
    height: 100%;
display: flex;
    flex-direction: column;
    justify-content: center;
}

.back{
    position: fixed;
    top: 4%;
}

/*--Preloader--*/
/* Compressing bars style */

.bars-common {
    height: 4vw;
    max-height: 100%;
    width: 1vw;
    margin: auto;
    position: absolute;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.bar-one {
    left: 2vw;
    right: 4vw;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 0 .1vw cyan, 0 0 1vw 0 cyan, inset 0 0 .5vw 0 cyan;
}

.bar-two {
    left: 2vw;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 0 .1vw cyan, 0 0 1vw 0 cyan, inset 0 0 .5vw 0 cyan;
}

/* Rotating squares style */

.squares-common {
    height: 8vw;
    max-height: 100%;
    width: 8vw;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 20%;
}

.square-one {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 0 .1vw #F207A0, 0 0 1vw 0 white, inset 0 0 .5vw 0 #F207A0;
}

.square-two {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 0 .1vw #F207A0, 0 0 1vw 0 white, inset 0 0 .5vw 0 #F207A0;
}

/* Animation */
/* Compressing bars animation */

.bar-one {
    animation: barOne 1s .33s ease infinite;
    -moz-animation: barOne 1s .33s ease infinite;
    /* Firefox */
    -webkit-animation: barOne 1s .33s ease infinite;
    /* Safari and Chrome */
    -o-animation: barOne 1s .33s ease infinite;
    /* Opera */
}

@keyframes barOne {
    0%,
    100% {
        box-shadow: 0 0 0 .1vw #F207A0, 0 0 1vw 0 white, inset 0 0 .5vw 0 #07B0F2;

    }
    50% {
        height: 2.5vw;
        box-shadow: 0 0 0 .1vw #F207A0, 0 0 1vw 0 white, inset 0 0 .5vw 0 #07B0F2;

    }
}

.bar-two {
    animation: barTwo 1s .66s ease infinite;
    -moz-animation: barTwo 1s .66s ease infinite;
    /* Firefox */
    -webkit-animation: barTwo 1s .66s ease infinite;
    /* Safari and Chrome */
    -o-animation: barTwo 1s .66s ease infinite;
    /* Opera */
}

@keyframes barTwo {
    0%,
    100% {
        box-shadow: 0 0 0 .1vw #F207A0, 0 0 1vw 0 white, inset 0 0 .5vw 0 #07B0F2;

    }
    50% {
        height: 2.5vw;
        box-shadow: 0 0 0 .1vw #F207A0, 0 0 1vw 0 white, inset 0 0 .5vw 0 #07B0F2;

    }
}

/* Rotating squares animation */

.square-one {
    animation: squareOne 4s .99s ease infinite;
    -moz-animation: squareOne 4s .99s ease infinite;
    /* Firefox */
    -webkit-animation: squareOne 4s .99s ease infinite;
    /* Safari and Chrome */
    -o-animation: squareOne 4s .99s ease infinite;
    /* Opera */
}

@keyframes squareOne {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-180deg);
    }
}

.square-two {
    animation: squareTwo 4s .99s ease infinite;
    -moz-animation: squareTwo 4s .99s ease infinite;
    /* Firefox */
    -webkit-animation: squareTwo 4s .99s ease infinite;
    /* Safari and Chrome */
    -o-animation: squareTwo 4s .99s ease infinite;
    /* Opera */
}

@keyframes squareTwo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}